* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #0A0809 !important;
}

.navbar a {
    color: white !important;
    font-weight: bold;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}


/* body */
body {
    background-color: #0A0809 !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

main {
    position: relative; 
    z-index: 1; 
}

#particles-js{
    width: 100%;
    height: 100%;
}

.secundMain{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionMain{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px !important;
}

#invercambioDeMoneda{
    cursor:pointer;
}

#historial1{
    list-style: none;
    text-decoration: none;
    padding-top: 100px;
}

footer {
    height: 100%;
    width: 100%;
    padding-top: 200px;
}

#canvas{
    padding-top: 500px;
}